body {
  padding: 0px;
  font-family: sans-serif;
  list-style: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.header-div {
  background-color: rgb(230, 235, 241);
}

.navbar {
  display: flex;
  justify-content: space-between; /* separates left & right */
  padding: 2vh 2vh;
  background-color: white;
}

.left-nav,
.right-nav {
  display: flex;
  gap: 2vw;
}

.right-nav a {
  text-decoration: none;
  color: black;
}

.left-nav a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.get-in-touch-btn {
  background-color: blue;
  color: white;
  font-weight: bold;
  max-width: 25vw;
  min-height: 7vh;
  border-radius: 7px;
  border: none;
}

.right-nav {
  justify-content: flex-end;
}

.header-div {
  display: flex;
  background: linear-gradient(to right, #fafafa, #cccccc);
  padding: 5vw;
}
.left-header {
  display: flex;
  flex-direction: column;
}

.right-header {
  display: flex;
  justify-content: end;
  min-width: 30vw;
  align-items: center;
  padding: 5vw;
}

.professional-photo {
  background-color: aquamarine;
  border-radius: 50%;
  width: 30vw;
}
main {
  display: flex;
  justify-content: space-between;
  margin: 5vw;
}

.right-main {
  min-width: 25vw;
  display: flex;
  flex-direction: column;
}

.left-main {
  padding: 5vw;
}

.box {
  background-color: #fff;
  display: block;
  height: 8px;
  border: 5px solid blue;
  border-radius: 5px;
  overflow: hidden;
}

.box span {
  height: 12px;
  float: left;
  background-color: black;
}

.javascript,
.react,
.nodejs,
.nodejs,
.mongodb {
  width: 90%;
  animation: 2s;
}

section {
  display: flex;
  flex-direction: column;
}

.div_of_divs {
  display: flex;

  /* justify-content: space-between; */
  /* margin: 5vw; */
}

.project-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-content: flex-start; */
  align-items: flex-start;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* semi-transparent black shadow */
  border-radius: 3vw;
  margin: 5vw;
  padding-bottom: 2vw;
  width: 30vw;
}

.project-img {
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  width: 23vw;
  max-height: 30vh;
}

.project-div > h3,
.project-div > button,
.project-div > p {
  margin: 0.5vw;
  margin-left: 1vw;
}

.view-project-btn {
  background-color: gold;
  border: none;
  border-radius: 0.7vw;
  height: 6vh;
}

.section-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 8vw;
}
.div-footer {
  background-color: rgb(30, 41, 59);
  color: white;
  text-align: center;
  margin: 5vh;
  align-content: center;
  height: 12vh;
}
.section-bottom {
  display: flex;
  justify-content: space-around;
}
section > form {
  display: flex;
  flex-direction: column;
  min-width: 70vw;
}

input,
textarea {
  width: 60vw;
}

section > form p,
section > form input,
section > form button {
  margin: 0.3rem 0;
}

section > form button {
  width: 20vw;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5vw;
  min-height: 8vh;
  font-weight: bolder;
}

.my-project-title {
  padding-left: 5vw;
}
.personal-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7vh;
  min-width: 30vw;
  margin-top: 10vh;
}
.icon-text {
  display: flex;
  gap: 0.5vw;
}
.icon-text > p {
  margin: 0;
}

.social-div {
  display: flex;
  justify-content: space-between;
  width: 11vw;
}
