* {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  border: solid;
}

.flex-container > * {
  border: solid orange;
}

boddy {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
