* {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  border: solid;
}

.flex-container > * {
  border: solid orange;
}

boddy {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* desktop */
@media (min-width: 900px) {
}

/* tablet */
@media (min-width: 600px) and (max-width: 899px) {
}

/* phone */
@media (max-width: 601px) {
}
