<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <title>Layout Ex1</title>
  </head>
  <body>
    <div class="container">
      <div class="header-div">
        <header>
          <h1>Holy Grail Layout Demo</h1>
        </header>
      </div>
      <div class="main-div">
        <main>
          <div class="left-div">
            <nav>
              <a href="#">Home</a>
              <a href="#">About</a>
              <a href="#">Services</a>
              <a href="#">Protfolio</a>
              <a href="#">Blog</a>
              <a href="#">Contact</a>
            </nav>
          </div>
          <div class="central-main-div">
            <section>
              <h2>Welcome to the Holy Grail Layout</h2>
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem
                Ipsum as their default model text, and a search for 'lorem
                ipsum' will uncover many web sites still in their infancy.
                Various versions have evolved over the years, sometimes by
                accident, sometimes on purpose (injected humour and the like).
              </p>
            </section>
          </div>
          <div class="right-div">
            <aside>
              <div class="quick-info">
                <h2>Sidebar</h2>
                <a href="#">This sidebar</a>
                <a href="#">demonstaters</a>
                <a href="#">how flexible</a>
                <a href="#">content area</a>
                <a href="#">work</a>
              </div>
              <div class="latest_news">
                <h2>Latest News</h2>
                <a href="#">Sample Content</a>
                <a href="#">widgets </a>
                <a href="#"></a>
                <a href="#"></a>
              </div>
            </aside>
          </div>
        </main>
      </div>
      <div class="footer-div">
        <footer>
          <p class="copyright">&copy; 2025 My Website</p>
        </footer>
      </div>
    </div>
  </body>
</html>
