body > div:first-child {
    height: 50px;
    width: 100px;
}

h1 {
    box-sizing: border-box;
    color: rgb(52, 73, 94);
    display: inline;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    height: 55.51;
    max-width: 100%;
}

.first {
    color: red;
    font-size: large;
}

.second {
    color: pink;
    font-family: "poppins", sans-serif;
}

.third {
    color: green;
    font-family: "Bitcount Grid Double", sans-serif;
}